

<footer>
    <div class="social-icons">
      <a href="https://github.com/jonatan85">
        <img src="../../../../assets/images/github.png" alt="Icon">
      </a>
      <p class="name">Jonatan Moreno</p>
      <a href="https://github.com/Jose-Luis-Diaz-1990">
        <img src="../../../../assets/images/github.png" alt="Icon">
      </a>
      <p class="name">José Luis Díaz</p>
      <a href="https://github.com/Miguel-be">
        <img src="../../../../assets/images/github.png" alt="Icon">
      </a>
      <p class="name">Miguel Izquierdo</p>
      <a href="https://github.com/AnaCastellanosSanz">
        <img src="../../../../assets/images/github.png" alt="Icon">
      </a>
      <p class="name">Ana Castellanos</p>
    </div>
  </footer>
  