footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 30px;
  }
  
  .social-icons {
    display: flex;
  }
  
  .social-icons a {
    margin: 0 1rem;
    transition: transform 0.2s;
  }
  
  .social-icons a:hover {
    transform: scale(1.2);
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
  }
  
  p {
    margin-top: 1rem;
    color: rgb(224, 223, 223);
    margin-right: 2%;
  }
  


  @media screen and (max-width: 768px) {
    footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 30px;
    }
    
    .social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
    .social-icons a {
    margin: 0.5rem;
    transition: transform 0.2s;
    }
    
    .social-icons a:hover {
    transform: scale(1.2);
    }
    
    .social-icons img {
    width: 30px;
    height: 30px;
    }
    
    p {
    color: rgb(224, 223, 223);
    margin-right: 2%;
    }
    }