<div class="modal-wrapper">
  <div class="card-image">
    <div class="card-front">
      <img class="card-background" src="https://raw.githubusercontent.com/MoosaSaadat/card-checkout/master/card.png" alt="Credit Card">
      <div class="card-logo">
        <div class="logo-circle left"></div>
        <div class="logo-circle right"></div>
      </div>
      <span class="card-number">XXXX XXXX XXXX XXXX</span>
      <div class="card-info left">
        <span class="card-holder-name">NOMBRE Y APELLIDOS</span>
      </div>
      <div class="card-info right">
        <span class="valid-thru-title">VÁLIDA HASTA</span>
        <span class="valid-thru-date">MM/YY</span>
      </div>
    </div>
    <div class="card-rear">
      <div class="black-bar"></div>
      <div class="card-info">
      </div>
    </div>
    <span class="active-border"></span>
  </div>
  <div class="card-form">
      <div class="form-wrapper">
        <form action="#">
          <div class="form-input">
            <i class="far fa-credit-card"></i>
            <input type="text" name="card-number" id="#number" placeholder="Número de tarjeta">
          </div>
          <div class="form-input">
            <i class="fas fa-user"></i>
            <input type="text" name="card-holder-name" id="#name" placeholder="Nombre de la tarjeta">
          </div>
          <div class="form-input">
            <i class="fas fa-calendar-day"></i>
            <input type="text" name="valid-thru-date" id="#expiry" placeholder="Fecha de valided">
          </div>
          <div class="form-input">
            <i class="fas fa-lock"></i>
            <input type="number" name="security-code" id="#code" placeholder="CVV">
          </div>
          <div class="form-input btn">
            <i class="fas fa-check"></i>
            <button type="submit" (click)="pago()">Pagar</button>
          </div>
        </form>
      </div>
  </div>
</div>